<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>SeLion Report</title>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"  href="../css/htmlreporter.css" >
    <script type="text/javascript" src="../js/htmlreporter.js"></script>
    
</head>
<body>


<div id='ebay_header'>
    <img src='../images/selion-horiz-notag.svg' class='floatLeft' height="50"/> <br />
    <div id='report_info' class='floatRight'>
        ${configSummary}
    </div>
    
    <div class="clear_both"></div>
</div>
